Repository Echo-Sols-Ltd/Urukundo_Foundation-Web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @frontend-team, @backend-team, @devops-team, @documentation-team, @database-team, @qa-team

.github/CODEOWNERS:

# Global repository owners
# These users will be requested for review on any pull request
* @your-username

# Frontend (Next.js) specific
frontend/ @frontend-team
*.js @frontend-team
*.jsx @frontend-team
*.ts @frontend-team
*.tsx @frontend-team
*.css @frontend-team
*.scss @frontend-team
*.html @frontend-team
*.json @frontend-team
next.config.js @frontend-team
tailwind.config.js @frontend-team
postcss.config.js @frontend-team

# Backend (Spring Boot) specific
backend/ @backend-team
*.java @backend-team
*.xml @backend-team
*.properties @backend-team
*.yml @backend-team
*.yaml @backend-team
pom.xml @backend-team
build.gradle @backend-team

# Configuration and DevOps
*.env* @devops-team
.github/ @devops-team
docker-compose.yml @devops-team
Dockerfile @devops-team
.dockerignore @devops-team

# Documentation
*.md @documentation-team
docs/ @documentation-team
README.md @documentation-team

# Database and migrations
*.sql @database-team
migrations/ @database-team
backend/src/main/resources/db/ @database-team

# Tests
**/test/ @qa-team
**/tests/ @qa-team
**/__tests__/ @qa-team
*.test.js @qa-team
*.test.ts @qa-team
*.test.tsx @qa-team
*.spec.js @qa-team
*.spec.ts @qa-team
*.spec.tsx @qa-team

# Dependencies
package.json @frontend-team
package-lock.json @frontend-team
yarn.lock @frontend-team
pom.xml @backend-team
build.gradle @backend-team

Fix dashboard and donate page lint errors
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/donation/donate/page.tsx
Owners: @frontend-team

WIP: Fix lint errors - dashboard and events types
  frontend/src/app/donation/events/page.tsx
Owners: @frontend-team

Fix Vercel deployment: Add root directory configuration
  vercel.json
Owners: @frontend-team

Fix Vercel deployment: Add root directory configuration
  vercel.json
Owners: @frontend-team

Vercel: set rootDirectory=frontend; let Next.js autodetect src/app layout
  vercel.json
Owners: @frontend-team

Dockerize frontend: multi-stage Dockerfile, .dockerignore, docker-compose; Next.js standalone output
  docker-compose.yml
  frontend/Dockerfile
  frontend/next.config.ts
Owners: @devops-team, @frontend-team

Add Vercel configuration for Next.js framework
  frontend/Dockerfile
  frontend/src/app/globals.css
  frontend/src/app/login/page.tsx
Owners: @devops-team, @frontend-team

Add login page component with authentication functionality
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/login/page.tsx
Owners: @frontend-team

Add Docker documentation: Create DOCKER_README.md and QUICK_START.md for setup instructions and features
  frontend/DOCKER_README.md
  frontend/QUICK_START.md
Owners: @documentation-team

Update content and descriptions across various components for clarity and impact
  frontend/src/app/contacts/page.tsx
  frontend/src/app/events/page.tsx
  frontend/src/components/causes-section.tsx
  frontend/src/components/hero-section.tsx
  frontend/src/lib/auth.ts
  frontend/src/lib/donations.ts
Owners: @frontend-team

Enhance authentication flow: Add toast notifications for login, registration, and logout events; improve error handling in login and registration functions; update loading state in login button.
  frontend/src/app/login/page.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/auth.ts
Owners: @frontend-team

Refactor donation and event components to fetch data from API
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/donation/page.tsx
  frontend/src/app/events/[slug]/page.tsx
  frontend/src/app/events/page.tsx
  frontend/src/components/donation/DonationChart.tsx
  frontend/src/components/donation/RecentDonations.tsx
  frontend/src/components/events-section.tsx
  frontend/src/components/hero-section.tsx
  frontend/src/components/impact-stats.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
Owners: @frontend-team

updated frontend, every thing intergrated)
  frontend/src/app/admin/events/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/donation/events/page.tsx
  frontend/src/app/donation/notifications/page.tsx
  frontend/src/app/donation/page.tsx
  frontend/src/components/events-section.tsx
  frontend/src/components/video-news.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/donations.ts
Owners: @frontend-team

Update API endpoints and enhance donation functionality: switch to production API URL, implement user donation stats fetching, and refactor donation creation logic.
  frontend/next.config.ts
  frontend/src/app/donation/donate/page.tsx
  frontend/src/components/admin/dashboard/Sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/donations.ts
Owners: @frontend-team

Enhance Docker and configuration files: ensure Next.js image cache directory is writable, adjust build script for memory usage, and add Nixpacks configuration for deployment.
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/next.config.ts
  frontend/package.json
  nixpacks.toml
  railway.toml
Owners: @frontend-team, @devops-team, @your-username

Refactor Dockerfile and configuration files for improved build process: implement multistage build, adjust start commands, and ensure writable cache directory.
  .railwayignore
  Dockerfile
  frontend/next.config.ts
  frontend/package.json
  nixpacks.toml
  railway.toml
Owners: @your-username, @devops-team, @frontend-team

Update .gitignore to optimize ignored files for deployment and development environments
  .gitignore
  Dockerfile
  docker-compose.yml
  frontend/Dockerfile
Owners: @your-username, @devops-team

Refactor Nixpacks and Railway configurations to ensure correct directory context for commands and add debug build script for enhanced build diagnostics
  frontend/debug-build.sh
  frontend/nixpacks.toml
  nixpacks.toml
  railway.toml
Owners: @frontend-team, @your-username

Enhance debug build script and Nixpacks configuration: add detailed debug output and clean up build files for improved diagnostics.
  frontend/debug-build.sh
  frontend/nixpacks.toml
Owners: @frontend-team

Add layout component for RootLayout and metadata configuration in Next.js
  .gitignore
  frontend/src/app/layout.tsx
Owners: @your-username, @frontend-team

Remove Header component from SignupPage for improved layout flexibility
  frontend/src/app/globals.css
  frontend/src/app/signup/page.tsx
  frontend/src/components/causes-section.tsx
  frontend/src/components/events-section.tsx
  frontend/src/components/footer.tsx
  frontend/src/components/header.tsx
  frontend/src/components/hero-section.tsx
  frontend/src/components/impact-stats.tsx
  frontend/tailwind.config.ts
Owners: @frontend-team

Add Tailwind CSS configuration and new image asset
  frontend/public/image/frique.jpg
  frontend/tailwind.config.ts
Owners: @frontend-team

added padding,social media icon and so on
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/app/contacts/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/login/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/footer.tsx
  frontend/src/components/hero-section.tsx
  frontend/src/components/testmonial-section.tsx
Owners: @frontend-team

Enhance project structure and functionality:
  frontend/package.json
  frontend/src/app/admin/settings/page.tsx
  frontend/src/app/contacts/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/admin/dashboard/Sidebar.tsx
  frontend/src/components/causes-section.tsx
  frontend/src/components/events-section.tsx
  frontend/src/components/footer.tsx
  frontend/src/components/header.tsx
  frontend/src/components/hero-section.tsx
  frontend/src/components/impact-stats.tsx
  frontend/src/lib/api.ts
  frontend/tailwind.config.ts
Owners: @frontend-team

Update nixpacks configuration and add health check API endpoint
  frontend/src/app/api/health/route.ts
  nixpacks.toml
Owners: @frontend-team, @your-username

Add SEO enhancements: implement robots.txt and sitemap generation, update metadata for improved search visibility
  frontend/src/app/layout.tsx
  frontend/src/app/robots.ts
  frontend/src/app/sitemap.ts
Owners: @frontend-team

Fix Railway deployment: update railway.toml PORT config and healthcheck path
  nixpacks.toml
  railway.toml
Owners: @your-username

Add custom Node.js server for Railway deployment with explicit PORT handling
  frontend/package.json
  frontend/server.js
  railway.toml
Owners: @frontend-team, @your-username

Refactor server.js to use ES module syntax for imports
  frontend/server.js
Owners: @frontend-team

fix(frontend): allow /api/health to be served by Next; proxy other /api to backend via afterFiles; set ESM module for server.js
  frontend/next.config.ts
  frontend/package.json
Owners: @frontend-team

fix: remove rootDirectory from vercel.json configuration
  vercel.json
Owners: @frontend-team

refactor: update event form structure and remove initial event data
  frontend/src/app/admin/events/page.tsx
  frontend/src/components/admin/dashboard/Sidebar.tsx
Owners: @frontend-team

refactor: clean up code formatting and improve readability across multiple files
  frontend/server.js
  frontend/src/app/api/health/route.ts
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/robots.ts
  frontend/src/app/sitemap.ts
Owners: @frontend-team

fix: add title attribute to mobile menu button for improved accessibility
  frontend/src/app/signup/page.tsx
Owners: @frontend-team

Implement code changes to enhance functionality and improve performance
  rcapplayout.tsx  findstr  HEAD
  tatus --porcelain
Owners: @your-username

fix: import User type in AuthContext for improved type safety
  frontend/src/contexts/AuthContext.tsx
Owners: @frontend-team

refactor: enhance admin page components with authentication wrapper and improve button accessibility
  frontend/src/app/admin/donations/page.tsx
  frontend/src/app/admin/events/page.tsx
  frontend/src/app/admin/videos/page.tsx
  frontend/src/app/donation/settings/page.tsx
  frontend/src/app/signup/page.tsx
Owners: @frontend-team

Implement mobile menu functionality in Dashboard and add Link import in Login page
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/login/page.tsx
Owners: @frontend-team

fix: remove duplicate Link import in LoginPage component
  frontend/src/app/login/page.tsx
Owners: @frontend-team

user donations integration
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/donation/donate/page.tsx
  frontend/src/app/donation/my-donations/page.tsx
  frontend/src/lib/api.ts
Owners: @frontend-team
