Repository Echo-Sols-Ltd/Urukundo_Foundation-Web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @frontend-team, @backend-team, @devops-team, @documentation-team, @database-team, @qa-team

.github/CODEOWNERS:

# Global repository owners
# These users will be requested for review on any pull request
* @your-username

# Frontend (Next.js) specific
frontend/ @frontend-team
*.js @frontend-team
*.jsx @frontend-team
*.ts @frontend-team
*.tsx @frontend-team
*.css @frontend-team
*.scss @frontend-team
*.html @frontend-team
*.json @frontend-team
next.config.js @frontend-team
tailwind.config.js @frontend-team
postcss.config.js @frontend-team

# Backend (Spring Boot) specific
backend/ @backend-team
*.java @backend-team
*.xml @backend-team
*.properties @backend-team
*.yml @backend-team
*.yaml @backend-team
pom.xml @backend-team
build.gradle @backend-team

# Configuration and DevOps
*.env* @devops-team
.github/ @devops-team
docker-compose.yml @devops-team
Dockerfile @devops-team
.dockerignore @devops-team

# Documentation
*.md @documentation-team
docs/ @documentation-team
README.md @documentation-team

# Database and migrations
*.sql @database-team
migrations/ @database-team
backend/src/main/resources/db/ @database-team

# Tests
**/test/ @qa-team
**/tests/ @qa-team
**/__tests__/ @qa-team
*.test.js @qa-team
*.test.ts @qa-team
*.test.tsx @qa-team
*.spec.js @qa-team
*.spec.ts @qa-team
*.spec.tsx @qa-team

# Dependencies
package.json @frontend-team
package-lock.json @frontend-team
yarn.lock @frontend-team
pom.xml @backend-team
build.gradle @backend-team

refactor: simplify token retrieval in MyDonationsPage component
  frontend/src/app/donation/my-donations/page.tsx
Owners: @frontend-team

feat: add user donation stats retrieval to donation page
  frontend/src/app/donation/donate/page.tsx
Owners: @frontend-team

from izabayo
  frontend/public/image/andrew.jpg
  frontend/public/image/baba.png
  frontend/public/image/geoge.jpg
  frontend/server.js
  frontend/src/app/api/health/route.ts
  frontend/src/app/contacts/page.tsx
  frontend/src/app/events/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.module.css
  frontend/src/app/page.tsx
  frontend/src/app/robots.ts
  frontend/src/app/sitemap.ts
  frontend/src/components/causes-section.tsx
  frontend/src/components/events-section.tsx
  frontend/src/components/footer.tsx
  frontend/src/components/header.tsx
  frontend/src/components/hero-section.tsx
  frontend/src/components/testmonial-section.tsx
  frontend/src/components/transforming-section.tsx
  frontend/src/components/video-news.tsx
Owners: @frontend-team

added some changes
  frontend/src/components/header.tsx
  frontend/src/components/video-news.tsx
Owners: @frontend-team

feat: Implement event donation page and success page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/donation/event/page.tsx
  frontend/src/app/donation/events/page.tsx
  frontend/src/app/donation/success/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/components/header.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/video-news.tsx
Owners: @frontend-team

refactor: streamline event and donation detail fetching with improved error handling
  frontend/src/app/donation/event/page.tsx
  frontend/src/app/donation/success/page.tsx
Owners: @frontend-team

feat: Implement two-step donation process with payment confirmation modal
  PAYMENT_CONFIRMATION_FLOW.md
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/admin/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/donation/donate/page.tsx
  frontend/src/app/donation/event/page.tsx
  frontend/src/app/donation/events/page.tsx
  frontend/src/app/donation/page.tsx
  frontend/src/app/donation/success/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/PaymentModal.tsx
  frontend/src/components/admin/dashboard/RecentActivity.tsx
  frontend/src/components/donation/Sidebar.tsx
  frontend/src/lib/payments.ts
  frontend/src/types/react-toastify.d.ts
Owners: @documentation-team, @frontend-team

feat: Update API configuration to use environment variables for backend URLs and improve payment processing flow
  frontend/healthcheck.js
  frontend/next.config.ts
  frontend/src/app/donation/event/page.tsx
  frontend/src/app/donation/success/page.tsx
  frontend/src/components/PaymentModal.tsx
  frontend/src/components/admin/dashboard/DonationChart.tsx
  frontend/src/components/admin/dashboard/PopularCauses.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/donations.ts
  frontend/src/lib/payments.ts
Owners: @frontend-team

feat: Update API base URL to production environment for all relevant files
  frontend/AUTH_SETUP.md
  frontend/DOCKER_README.md
  frontend/next.config.ts
  frontend/src/app/donation/event/page.tsx
  frontend/src/app/donation/success/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/donations.ts
  frontend/src/lib/payments.ts
Owners: @documentation-team, @frontend-team

feat: Update API base URL for donation receipt fetching to new production environment
  frontend/src/app/donation/success/page.tsx
Owners: @frontend-team

Initial commit
  README.md
Owners: @documentation-team

feat: Enhance login error handling with user-friendly messages and toast notifications
  frontend/src/app/login/page.tsx
  frontend/src/components/auth/withAuth.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/auth.ts
Owners: @frontend-team

first commit
  frontend/healthcheck.js
  frontend/src/app/donation/donate/page.tsx
  frontend/src/app/donation/my-donations/page.tsx
  frontend/src/app/donation/notifications/page.tsx
  frontend/src/app/donation/settings/page.tsx
  frontend/src/app/donation/videos/page.tsx
  frontend/src/app/events/page.tsx
  frontend/src/app/search/page.tsx
  frontend/src/components/SearchComponent.tsx
  frontend/src/components/SearchResults.tsx
  frontend/src/components/admin/dashboard/Header.tsx
  frontend/src/components/donation/Header.tsx
  frontend/src/components/header.tsx
  frontend/src/components/testmonial-section.tsx
  frontend/src/lib/api.ts
Owners: @frontend-team

feat: Improve scroll behavior in Header component and optimize testimonial section updates
  frontend/src/components/header.tsx
  frontend/src/components/testmonial-section.tsx
Owners: @frontend-team

feat: Add Donation Trends component to display donation statistics and trends
  frontend/src/app/search/page.tsx
  frontend/src/components/DonationTrends.tsx
Owners: @frontend-team

feat: Refactor SearchPage component to include admin role handling and filter options
  README.md
  frontend/src/app/search/page.tsx
Owners: @documentation-team, @frontend-team

[setup] ci/cd
  frontend/.github/workflows/docker-publish.yml
  frontend/.gitignore
  frontend/README.md
Owners: @devops-team, @frontend-team, @documentation-team

[++] pipeline update
  frontend/.github/workflows/docker-publish.yml
Owners: @devops-team

[++] pipeline update
  .github/docker-publish.yml
Owners: @devops-team

[++] pipeline update
  .github/workflows/docker-publish.yml
Owners: @devops-team

[++] dockerfile placement
  .gitignore
Owners: @your-username

[++] proper dockerfile placement
  .gitignore
  Dockerfile
Owners: @your-username, @devops-team

[++] proper dockerfile placement
  .github/workflows/docker-publish.yml
  frontend/Dockerfile
Owners: @devops-team

feat: Update API base URL to new production endpoint and remove debug logging
  frontend/AUTH_SETUP.md
  frontend/DOCKER_README.md
  frontend/next.config.ts
  frontend/server.js
  frontend/src/app/contacts/page.tsx
  frontend/src/app/donation/event/page.tsx
  frontend/src/app/donation/success/page.tsx
  frontend/src/components/admin/dashboard/ViewDonationDialog.tsx
  frontend/src/components/testmonial-section.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/donations.ts
  frontend/src/lib/payments.ts
Owners: @documentation-team, @frontend-team

[fix] updated the ci/cd pipeline
  .github/workflows/docker-publish.yml
Owners: @devops-team

[test] pipeline test
  frontend/src/components/testmonial-section.tsx
Owners: @frontend-team

feat: Enhance event management and dashboard features
  frontend/package.json
  frontend/public/svg/undraw_no-data_ig65.svg
  frontend/src/app/admin/events/page.tsx
  frontend/src/app/contacts/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/search/page.tsx
  frontend/src/components/admin/dashboard/CreateEventDialog.tsx
  frontend/src/components/admin/dashboard/DonationChart.tsx
  frontend/src/components/admin/dashboard/EventCard.tsx
  frontend/src/components/admin/dashboard/ViewEventDialog.tsx
  frontend/src/components/auth/withAuth.tsx
  frontend/src/components/events-section.tsx
  frontend/src/components/footer.tsx
  frontend/src/components/header.tsx
  frontend/src/components/hero-section.tsx
  frontend/src/components/testmonial-section.tsx
  frontend/src/types/admin/index.ts
Owners: @frontend-team

[test] pipeline-test
  .github/workflows/docker-publish.yml
  frontend/src/components/testmonial-section.tsx
Owners: @devops-team, @frontend-team

[test] pipeline testing
  .github/workflows/docker-publish.yml
Owners: @devops-team

[++] pipeline tes
  frontend/src/components/testmonial-section.tsx
Owners: @frontend-team

[fix] pipeline image pushing issue
  .github/workflows/docker-publish.yml
Owners: @devops-team

feat: Add Google Tag Manager integration and update dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/components/GoogleTag.tsx
Owners: @frontend-team

feat: Enhance event details and display logic in EventsPage and ViewEventDialog components
  frontend/src/app/events/page.tsx
  frontend/src/components/admin/dashboard/ViewEventDialog.tsx
  frontend/src/components/events-section.tsx
Owners: @frontend-team

fix: Update image class styles for better display in EventsSection component
  frontend/src/components/events-section.tsx
Owners: @frontend-team

fix: Update js-yaml version to 4.1.1 in package-lock.json
  frontend/package-lock.json
Owners: @frontend-team

fix: Update image class to use object-scale-down for better image display
  frontend/src/components/events-section.tsx
Owners: @frontend-team

fix: Update image class in EventsSection for improved scaling and transition effects
  frontend/src/components/events-section.tsx
Owners: @frontend-team

[++] modified the ci/cd pipeline
  .github/workflows/docker-publish.yml
Owners: @devops-team

[++] modified the ci/cd pipeline
  .github/workflows/docker-publish.yml
Owners: @devops-team

[++] modified the ci/cd pipeline
  .github/workflows/docker-publish.yml
Owners: @devops-team
